<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature android:name="android.hardware.sensor.stepcounter" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CareSheep"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".guardian.report.GuardianElderWeekReportMealActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".guardian.emergency.GuardianSetEmergencyTimeActivity"
            android:exported="false" />

        <service
            android:name=".utils.map.GpsForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />

        <activity
            android:name=".elder.connect.ElderConnectedGuardianActivity"
            android:exported="true" />
        <activity
            android:name=".elder.alarm.ElderWalkAlarmActivity"
            android:exported="false" />
        <activity
            android:name=".guardian.emergency.GuardianElderEmergencyActivity"
            android:exported="false" />
        <activity
            android:name=".elder.alarm.ElderGetMealAlarmActivity"
            android:exported="true" />
        <activity
            android:name=".elder.alarm.ElderDinnerAlarmActivity"
            android:exported="false" />
        <activity
            android:name=".elder.alarm.ElderLunchAlarmActivity"
            android:exported="false" />
        <activity
            android:name=".elder.alarm.ElderBreakfastAlarmActivity"
            android:exported="false" />
        <activity
            android:name=".guardian.calendar.GuardianScheduleDetailActivity"
            android:exported="false" />
        <activity
            android:name=".elder.map.ElderMapsActivity"
            android:exported="true" />
        <activity
            android:name=".guardian.map.GuardianMapsActivity"
            android:exported="true" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="${NAVER_MAP}" />

        <activity
            android:name=".elder.alarm.ElderGetAlarmTimeActivity"
            android:exported="false" />
        <activity
            android:name=".guardian.alarm.GuardianSetMedicineTimeActivity4"
            android:exported="true" />
        <activity
            android:name=".guardian.alarm.GuardianSetMedicineTimeActivity3"
            android:exported="false" />
        <activity
            android:name=".guardian.alarm.GuardianSetMedicineTimeActivity2"
            android:exported="false" />
        <activity
            android:name=".guardian.routine.medicine.MedicineTimeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".guardian.routine.medicine.MedicineTimePickActivity"
            android:exported="false" />
        <activity
            android:name=".guardian.alarm.GuardianSetMedicineTimeActivity"
            android:exported="false" />
        <activity
            android:name=".elder.walk.ElderWalkDoneActivity"
            android:exported="false" />
        <activity
            android:name=".elder.walk.ElderWalkMainActivity"
            android:exported="false" />
        <activity
            android:name=".guardian.routine.medicine.GuardianStartSetMedicineActivity"
            android:exported="false" />
        <activity
            android:name=".guardian.emergency.GuardianSetSleepTimeActivity"
            android:exported="false"
            android:parentActivityName=".guardian.routine.meal.GuardianSetLunchTimeActivity" />
        <activity
            android:name=".guardian.routine.meal.GuardianSetDinnerTimeActivity"
            android:exported="false"
            android:parentActivityName=".guardian.routine.meal.GuardianSetLunchTimeActivity" />
        <activity
            android:name=".guardian.routine.meal.GuardianSetLunchTimeActivity"
            android:exported="true"
            android:parentActivityName=".guardian.routine.meal.GuardianSetBreakfastTimeActivity" />
        <activity
            android:name=".guardian.calendar.GuardianAddScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".guardian.mypage.GuardianConnectActivity"
            android:exported="false" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name=".guardian.mypage.GuardianElderRoutineActivity"
            android:exported="true" />
        <activity
            android:name=".guardian.routine.walk.GuardianSetWalkStepActivity"
            android:exported="false"
            android:parentActivityName=".guardian.routine.walk.GuardianSetWalkTimeActivity" />
        <activity
            android:name=".guardian.routine.walk.GuardianSetWalkTimeActivity"
            android:exported="false"
            android:parentActivityName=".guardian.routine.start.GuardianStartActivity" />
        <activity
            android:name=".guardian.routine.start.GuardianStartActivity"
            android:exported="false" />
        <activity
            android:name=".guardian.alarm.GuardianSetMedicineCountActivity"
            android:exported="false"
            android:parentActivityName=".guardian.alarm.GuardianSetMedicineSingledoseActivity" />
        <activity
            android:name=".guardian.alarm.GuardianSetMedicineSingledoseActivity"
            android:exported="false"
            android:parentActivityName=".guardian.alarm.GuardianSetMedicineNameActivity" />
        <activity
            android:name=".guardian.alarm.GuardianSetMedicineNameActivity"
            android:exported="false"
            android:parentActivityName=".guardian.alarm.GuardianSetMedicineColorActivity" />
        <activity
            android:name=".guardian.alarm.GuardianSetMedicineColorActivity"
            android:exported="false"
            android:parentActivityName=".guardian.routine.medicine.GuardianStartSetMedicineActivity" />
        <activity
            android:name=".guardian.routine.meal.GuardianSetBreakfastTimeActivity"
            android:exported="true"
            android:parentActivityName=".guardian.routine.walk.GuardianSetWalkStepActivity" />
        <activity
            android:name=".guardian.voice.GuardianVoiceDetailActivity"
            android:exported="false" />
        <activity
            android:name=".start.SplashActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".elder.main.ElderActivity"
            android:exported="false" />
        <activity
            android:name=".elder.connect.ElderConnectActivity"
            android:exported="true" />
        <activity
            android:name=".elder.walk.ElderWalkActivity"
            android:exported="false" />
        <activity
            android:name=".guardian.report.GuardianElderReportActivity"
            android:exported="false" />
        <activity
            android:name=".guardian.GuardianActivity"
            android:exported="true" />
        <activity
            android:name=".start.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".start.StartActivity"
            android:exported="true" />
        <activity
            android:name=".elder.alarm.ElderMedicineDoneActivity"
            android:exported="false" />
        <activity
            android:name=".elder.alarm.ElderMedicineReActivity"
            android:exported="false" />
        <activity
            android:name=".elder.alarm.PraiseActivity"
            android:exported="false" />
        <activity
            android:name=".elder.alarm.ElderMedicineFirstActivity"
            android:enabled="true" />

        <receiver
            android:name=".elder.alarm.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".elder.alarm.AlarmService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".elder.alarm.AlarmReceiverBreakfast"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="Restart" />
            </intent-filter>
        </receiver>

        <service
            android:name=".elder.alarm.AlarmServiceBreakfast"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".elder.alarm.AlarmReceiverLunch"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="Restart" />
            </intent-filter>
        </receiver>

        <service
            android:name=".elder.alarm.AlarmServiceLunch"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".elder.alarm.AlarmReceiverDinner"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="Restart" />
            </intent-filter>
        </receiver>

        <service
            android:name=".elder.alarm.AlarmServiceDinner"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".elder.alarm.AlarmReceiverCheckEmergency"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="Check" />
            </intent-filter>
        </receiver>

        <service
            android:name=".elder.alarm.AlarmReceiverCheckEmergency"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".elder.alarm.AlarmReceiverWalk"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="Restart" />
            </intent-filter>
        </receiver>

        <service
            android:name=".elder.alarm.AlarmServiceWalk"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".guardian.emergency.AlarmReceiverEmergency"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="Restart" />
            </intent-filter>
        </receiver>

        <service
            android:name=".guardian.emergency.AlarmServiceEmergency"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".utils.voice.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".elder.voice.ElderVoiceMainActivity"
            android:exported="true" />
        <activity
            android:name=".elder.voice.ElderVoiceSubActivity"
            android:exported="true" />
        <activity
            android:name=".guardian.voice.RecycleMainRecordActivity"
            android:exported="true" />
    </application>

</manifest>