<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <uses-feature android:name="android.hardware.sensor.stepcounter" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CareSheep"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.guardian.calendar.GuardianAddScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.guardian.mypage.GuardianConnectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.guardian.mypage.GuardianElderRoutineActivity"
            android:exported="false" />
        <activity
            android:name=".ui.guardian.GuardianSetWalkStepActivity"
            android:exported="false" />
        <activity
            android:name=".ui.guardian.GuardianSetWalkTimeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.guardian.GuardianStartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.guardian.GuardianSetMedicineCountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.guardian.GuardianSetMedicineSingledoseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.guardian.GuardianSetMedicineNameActivity"
            android:exported="false" />
        <activity
            android:name=".ui.guardian.GuardianSetMedicineColorActivity"
            android:exported="true" />
        <activity
            android:name=".ui.guardian.GuardianSetBreakfastTimeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.guardian.GuardianVoiceDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.start.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.elder.main.ElderActivity"
            android:exported="true" />
        <activity
            android:name=".elder.ElderWalkActivity"
            android:exported="false" />
        <activity
            android:name=".ui.guardian.GuardianElderReportActivity"
            android:exported="true" />
        <activity
            android:name=".ui.guardian.GuardianActivity"
            android:exported="true" />
        <activity
            android:name=".ui.start.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.start.StartActivity"
            android:exported="true" />
        <activity
            android:name=".elder.ElderMedicineDoneActivity"
            android:exported="false" />
        <activity
            android:name=".elder.ElderMedicineReActivity"
            android:exported="false" />
        <activity
            android:name=".elder.ElderMedicineFirstActivity"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".elder.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".elder.AlarmService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".elder.ElderVoiceMainActivity"
            android:exported="true" >
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".elder.ElderVoiceSubActivity"
            android:exported="true" />
        <activity
            android:name=".recyclerview.RecycleMainScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".GuardianVoiceRecordDetailFragment"
            android:exported="false" />
        <activity
            android:name=".GuardianVoiceRecordListFragment"
            android:exported="false" />
        <activity
            android:name=".recyclerview.RecycleMainRecordActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
    </application>

</manifest>