<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <uses-feature android:name="android.hardware.sensor.stepcounter" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CareSheep"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".ui.guardian.emergency.GuardianElderEmergencyActivity"
            android:exported="false" />
        <activity
            android:name=".elder.ElderGetMealAlarmActivity"
            android:exported="false" />
        <activity
            android:name=".ui.elder.alarm.ElderDinnerAlarmActivity"
            android:exported="false" />
        <activity
            android:name=".ui.elder.alarm.ElderLunchAlarmActivity"
            android:exported="false" />
        <activity
            android:name=".ui.elder.alarm.ElderBreakfastAlarmActivity"
            android:exported="false" />
        <activity
            android:name=".ui.guardian.calendar.GuardianScheduleDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ElderMapsActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".GuardianMapsActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="${NAVER_MAP}" />

        <activity
            android:name=".elder.ElderGetAlarmTimeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.guardian.medicine.GuardianSetMedicineTimeActivity4"
            android:exported="true"></activity>
        <activity
            android:name=".ui.guardian.medicine.GuardianSetMedicineTimeActivity3"
            android:exported="false" />
        <activity
            android:name=".ui.guardian.medicine.GuardianSetMedicineTimeActivity2"
            android:exported="false" />
        <activity
            android:name=".MedicineTimeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.MedicineTimePickActivity"
            android:exported="false" />
        <activity
            android:name=".ui.guardian.medicine.GuardianSetMedicineTimeActivity"
            android:exported="false" />
        <activity
            android:name=".elder.ElderWalkDoneActivity"
            android:exported="false" />
        <activity
            android:name=".elder.ElderWalkMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.guardian.GuardianStartSetMedicineActivity"
            android:exported="false" />
        <activity
            android:name=".ui.guardian.meal.GuardianSetDinnerTimeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.guardian.meal.GuardianSetLunchTimeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.guardian.calendar.GuardianAddScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.guardian.mypage.GuardianConnectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.guardian.mypage.GuardianElderRoutineActivity"
            android:exported="true" />
        <activity
            android:name=".ui.guardian.GuardianSetWalkStepActivity"
            android:exported="false" />
        <activity
            android:name=".ui.guardian.GuardianSetWalkTimeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.guardian.GuardianStartActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ui.guardian.medicine.GuardianSetMedicineCountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.guardian.medicine.GuardianSetMedicineSingledoseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.guardian.medicine.GuardianSetMedicineNameActivity"
            android:exported="false" />
        <activity
            android:name=".ui.guardian.medicine.GuardianSetMedicineColorActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ui.guardian.meal.GuardianSetBreakfastTimeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.guardian.GuardianVoiceDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.start.SplashActivity"
            android:exported="true">
                        <intent-filter>
                            <action android:name="android.intent.action.MAIN" />

                            <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>
        </activity>
        <activity
            android:name=".ui.elder.main.ElderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.elder.connect.ElderConnectActivity"
            android:exported="true" />
        <activity
            android:name=".elder.ElderWalkActivity"
            android:exported="false" />
        <activity
            android:name=".ui.guardian.GuardianElderReportActivity"
            android:exported="false" />
        <activity
            android:name=".ui.guardian.GuardianActivity"
            android:exported="true" />
        <activity
            android:name=".ui.start.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.start.StartActivity"
            android:exported="true" />
        <activity
            android:name=".elder.ElderMedicineDoneActivity"
            android:exported="false" />
        <activity
            android:name=".elder.ElderMedicineReActivity"
            android:exported="false" />
        <activity
            android:name=".elder.ElderMedicineFirstActivity"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".elder.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".elder.AlarmService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".elder.AlarmReceiverBreakfast"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="Restart" />
            </intent-filter>
        </receiver>

        <service
            android:name=".elder.AlarmServiceBreakfast"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".elder.AlarmReceiverLunch"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="Restart" />
            </intent-filter>
        </receiver>

        <service
            android:name=".elder.AlarmServiceLunch"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".elder.AlarmReceiverDinner"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="Restart" />
            </intent-filter>
        </receiver>

        <service
            android:name=".elder.AlarmServiceDinner"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".elder.ElderVoiceMainActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".elder.ElderVoiceSubActivity"
            android:exported="true" />
        <activity
            android:name=".recyclerview.RecycleMainScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".GuardianVoiceRecordDetailFragment"
            android:exported="false" />
        <activity
            android:name=".GuardianVoiceRecordListFragment"
            android:exported="false" />
        <activity
            android:name=".recyclerview.RecycleMainRecordActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>